# copiar como .env y ajustar si procede

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=northwind
POSTGRES_USER=
POSTGRES_PASSWORD=

JWT_SECRET_KEY=mi-clave-secreta
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
